.container
  .outlet
    .row
      .col-sm-8.col-md-5.col-md-offset-4.col-sm-offset-2
        .panel.panel-default.donation-box.contact-details-box
          .panel-heading.text-center
            %h3 Request to make donation
          .panel-body
            = form_for @donation, html: { class: 'form-horizontal group-border hover-stripped' } do |f|
              .form-group
                .col-lg-12
                  = f.number_field :amount, min: '0', step: 'any', class: 'form-control', required: true, placeholder: "Amount"
              .form-group.btn-block.btn-submit
                = f.submit "#{donation_button_text(@donation)}", class: 'btn btn-primary'
