.col-md-12#availability-div

:javascript
	$('#availability-div').datepicker({
	    inline: true,
	    format: 'dd/mm/yyyy',
	    startDate: 'd',
	    multidate: true
	}).on("change",function(){
		var selected = $(this).val();
		alert(selected);
	});
