%button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"}
  %i.fa.fa-times
.modal-body
  .row-fluid
    .span10.offset1
      .registration-modal.text-center
        %ul
          %l
            %a.btn.btn-primary.btn-fb-login.p25.mb10{href: user_facebook_omniauth_authorize_path(user_type: user_type)}
              %i.fa.fa-facebook-square.s24.icon-fa
              Continue with Facebook
          %li
            %a.btn.btn-info.btn-email-login.p10.mb10{href: new_user_session_path(user_type: user_type)}
              %i.fa.fa-envelope-o.s24.icon-fa
              Continue with Phone
