.container
  .contact-us
    .col-sm-12
      %h2
        %span
          GET IN
        Touch
      %img{:alt => "divider", :src => "/assets/divider.png"}
      %address
        %ul
          %li
            %strong 
              Mobile:
            %span
              %a{:href => "tel:+92-322-2822224"} +92-322-2822224
              
          %li
            %strong Phone:
            %a{:href => "tel:+92-423-5741249"} +92-423-5741249
            
          %li
            %strong Address:
            D.H.A Phase 1 82-G, Lahore,
            %li
              %strong Email:
              %a{:href => "mailto:Work4Humanity@gmail.com"} Work4Humanity@gmail.com
              
