.container
  .contact-us
    .col-sm-12
      %h2
        %span
          Contact us
    %form.form-horizontal{:action => send_mail_path, :method => "post", :role => "form"}
      .col-lg-12.spacing-elements
        %input#name.form-control{:name => "name", :placeholder => "Name", :type => "text", :value => "", required: true}
      .col-lg-12.spacing-elements
        %input#name.form-control{:name => "phone", pattern: '((\+92)|(0))-{0,1}(3)\d{2}-(?!1234567)(?!1111111)(?!7654321)[0-9]{7}', required: true, oninvalid: "setCustomValidity('Plz enter valid number with formate 0321-4455336 or +92321-9997999')", onchange: "try{setCustomValidity('')}catch(e){}", placeholder: "0321-4455446"}
      .col-lg-12.spacing-elements
        %input#email.form-control{:name => "email", :placeholder => "example@domain.com", :type => "email", :value => "", required: true}
      .col-lg-12.spacing-elements
        %textarea.form-control{:name => "message", :rows => "4", :placeholder => "Message", required: true}
      .form-group
        .col-lg-12.spacing-elements
          %input#submit.btn.btn-primary{:name => "submit", :type => "submit", :value => "Send"}

      / %img{:alt => "divider", :src => "/assets/divider.png"}
      / %address
      /   %ul
      /     %li
      /       %strong Address:
      /       D.H.A Phase 1 82-G, Lahore,
      /       %li
      /         %strong Email:
      /         %a{:href => "mailto:Work4Humanity@gmail.com"} Work4Humanity@gmail.com


