- content_for :body_class do
  landing-page
.row-fluid
  .span10.offset1
    .hero-unit.text-center.mt50
      %ul
        %li
          %a.btn.btn-primary.p25.mb10{href: '#my-modal-1', "data-toggle" => "modal"}
            %i.fa.fa-clock-o.s32.display-block
            Help us w.r.t Time
        %li
          %a.btn.btn-primary.p25.mb10{href: '#my-modal-2', "data-toggle" => "modal"}
            %i.fa.fa-usd.s32.display-block
            Help us w.r.t Funds

/ two click model for registration
#my-modal-1.modal.fade.login-modal{:title => "My modal"}
  .modal-dialog{:role => "document"}
    .modal-content
      = render 'registration_form_data', user_type: 0

#my-modal-2.modal.fade.login-modal{:title => "My modal"}
  .modal-dialog{:role => "document"}
    .modal-content
      = render 'registration_form_data', user_type: 1
