- content_for :body_class do
  landing-page
.row-fluid
  .span10.offset1
    .hero-unit.text-center.mt50
      %ul
        %li
          %a.btn.btn-primary.p25.mb10{href: '#my-modal', "data-toggle" => "modal"}
            %i.fa.fa-clock-o.s32.display-block
            Help us w.r.t Time
        %li
          %a.btn.btn-primary.p25.mb10{href: '#my-modal', "data-toggle" => "modal"}
            %i.fa.fa-usd.s32.display-block
            Help us w.r.t Funds

/ two click model for registration
#my-modal.modal.fade.login-modal{:title => "My modal"}
  .modal-dialog.mt50{:role => "document"}
    .modal-content
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} 
        %i.fa.fa-times
      .modal-body
        .row-fluid
          .span10.offset1
            .hero-unit.text-center
              .ul
                .li
                  %a.btn.btn-primary.btn-fb-login.p25.mb10{href: user_facebook_omniauth_authorize_path}
                    %i.fa.fa-facebook-square.s24
                    Log in with Facebook
                .li
                  %a.btn.btn-info.btn-email-login.p10.mb10{href: onboarding_users_path}
                    %i.fa.fa-envelope-o.s24
                    Log in with Email
      .modal-footer.hidden
        %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close


/ user registration model for contact detail
#user-modal.modal.fade{:title => "User model"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h3#myModalLabel Register your self
      .modal-body
        fjhdfadfjadsl
      .modal-footer
        %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close

