- content_for :body_class do
  landing-page
.row-fluid
  .span10.offset1
    .hero-unit-block.text-center
      %ul
        %li
          %a.btn.btn-primary.p25.hvr-sweep-to-top{href: '#my-modal-2', "data-toggle" => "modal"}
            %i.fa.fa-usd.hero-unit-icon
            Donate
            %span
              Funds
        %li
          %a.btn.btn-primary.p25.mb10.hvr-sweep-to-top{href: '#my-modal-1', "data-toggle" => "modal"}
            %i.fa.fa-clock-o.hero-unit-icon
            Donate
            %span
              Time

#my-modal-1.modal.fade.login-modal.bs-example-modal-sm{:title => "My modal"}
  .modal-dialog.modal-sm{:role => "document"}
    .modal-content
      = render 'registration_form_data', user_type: "volunteer"

#my-modal-2.modal.fade.login-modal.bs-example-modal-sm{:title => "My modal"}
  .modal-dialog.modal-sm{:role => "document"}
    .modal-content
      = render 'registration_form_data', user_type: "donner"
