.container
  %div
    %ul.nav.nav-tabs{:role => "tablist"}
      %li.active{:role => "presentation"}
        %a{"aria-controls" => "Requested", "data-toggle" => "tab", :href => "#requested", :role => "tab"} Requested
      %li{:role => "presentation"}
        %a{"aria-controls" => "rejected", "data-toggle" => "tab", :href => "#rejected", :role => "tab"} Rejected
      %li{:role => "presentation"}
        %a{"aria-controls" => "received", "data-toggle" => "tab", :href => "#received", :role => "tab"} Received
    .tab-content
      #requested.tab-pane.active{:role => "tabpanel"}
        = render partial: 'donations/partials/donation_grid', locals: {donations: @requested_donations, type: "requested"}
      #rejected.tab-pane{:role => "tabpanel"}
        = render partial: 'donations/partials/donation_grid', locals: {donations: @rejected_donations, type: "rejected"}
      #received.tab-pane{:role => "tabpanel"}
        = render partial: 'donations/partials/donation_grid', locals: {donations: @recieved_donations, type: "received"}
