- content_for :body_class do
  login-page

#login.animated.bounceIn
  %h2.color-white.text-align-centre Work4Humanity
  / Start .login-wrapper
  .login-wrapper
    %ul#myTab.nav.nav-tabs.nav-justified.bn
      %li.active
        %a{"data-toggle" => "tab", :href => "#log-in"}= t('authorisation.tab.log-in')
    #myTabContent.tab-content.bn
      #log-in.tab-pane.active
        .social-buttons.text-center.mt10
          %a.btn.btn-primary.btn-alt.btn-round.btn-lg.mr10.mb20{:href => "$"}
            %i.fa.fa-facebook.s24
            Facebook
  / End #.login-wrapper
