.contact-us{
  text-align: center;
  img{
    width: 100%;
  }
  h2{
    font-weight: 700;
    font-size: 42px;
    font-family: 'Raleway', sans-serif;
    color: #222222;
    span{
      font-weight: 100;
    }
  }
    h3{
      color: #2DBCB5;
    }
    address{
    padding: 15px;
    background: #fff;
    max-width: 400px;
    margin: 0 auto;
        ul{
        padding: 0;
        margin: 0;
        li{
          margin: 15px 0 0 0;
          padding: 15px 10px 15px 10px;
          float: left;
          width: 100%;
          list-style: none;
          border: solid 1px #dedede;
          a{
            color: #444;
          }
          &:hover{
            border: solid 1px #2DBCB5;
          }
          strong{
            color: #353535;
            font-weight: 700;
            width: 22%;
            float: left;
            text-align: left;
          }
          span{
            font-size: 18px;
            float: right;
            width: 78%;
          }
        }
      }
    }
}
.spacing-elements {
  margin-top:20px;
}
.dp-block .form-horizontal,
.dp-block .form-group,
.dp-block .intl-tel-input {
  display: block !important;
}
.intl-tel-input, .allow-dropdown, .separate-dial-code, .iti-sdc-3 {
  text-align: left !important;
}
