#header .navbar .nav li a{
    border-bottom: 1px solid #eee;
    padding: 0 20px;
    text-align: left;
  }
#header .navbar .navbar-collapse,
#header .navbar{
  background: #2DBCB5;
  text-align: center;

  .amount-holder-desktop{
    display: inline-block;
    h4{
      display: inline-block;
      margin: 15px auto;
    }
  }
  .amount-holder-mobile{

  }
  [class^="amount-holder-"], [class*=" amount-holder-"] {
    h4{
      color: #ddd;
      a{
        color: #fff;
      }
    }
  }
  .non_mobile_nav{
    text-align: center;
    a{
      img{
        float: none;
      }
    }
  }
}
#header .navbar .nav li a:hover, #header .navbar .nav li a:focus,
#header .navbar .nav.navbar-nav > .open > a, #header .navbar .nav.navbar-nav > .open > a:focus{
  background: #469a96;
}
.alert.notice{
	background: #3c763d;
}
.alert.alert{
	background: antiquewhite;
}
.navbar-brand{
  h4{
    font-size: 24px;
    font-family: cursive;
  }
}
.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #2DBCB5;
    border-color: #469a96;
    border-radius: 2px;
}
.hero-unit{
  ul{
    padding: 0;
    list-style: none;
    li{
      a{
        padding: 10px !important;
        min-width: 200px;
      }
    }
  }
}
.top-nav{
  margin: 0 auto;
  text-align: center;
  height: auto;
  h4{
    font-size: 20px;
    margin-top: 15px;
    display: inline-block;
    font-family: sans-serif;
    a{
      color: #fff;
    }
  }
  .right-nav-bar{
    .dropdown-menu{
      right: 0;
    }
  }
}
.login-modal{
  .modal-content{
    border-radius: 2px;
    .close{
      opacity: 9;
      color: #fff;
      background: #000;
      width: 20px;
      height: 20px;
      font-size: 14px;
      border-radius: 100px;
      margin: -6px -3px 0;
      line-height: 34px;
      cursor: pointer;
      }
    .modal-body{
      .btn-fb-login{
        color: #fff;
        background-color: #39579B;
        border-color: #39579B;
        padding: 15px !important;
        font-size: 20px;
        text-transform: uppercase;
        min-width: 292px;
      }
      .btn-email-login{
        color: #fff;
        background-color: #2DBCB5;
        border-color: #469a96;
        border-radius: 2px;
        padding: 15px !important;
        font-size: 20px;
        text-transform: uppercase;
        min-width: 292px;
      }
    }
  }
}
.contact-details-box {
    margin-top: 20px;
    padding: 0px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    border-radius: 0;
    .form-control{
      border-radius: 0;
      min-height: 45px;
    }
    .btn-submit{
      width: 100%;
      margin: 0px;
      .btn{
        width: 100% !important;
        min-height: 45px;
      }
    }
}
.add-new-case{
  margin-top: 20px;
    padding: 0px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    border-radius: 0;
    padding: 0;
    overflow: hidden;
    .form-control{
      border-radius: 0;
      min-height: 45px;
    }
    .panel{
      background-color: #f7f7f7;
      margin-bottom: 0;
      border-radius: 0;
    }
    .btn-block{
      text-align: center;
      .btn{
        display: block;
        min-width: 200px;
        max-width: 200px;
        margin: 0 auto 5px;
      }
    }
    .attachment-bock{
      position: relative;
      .form-control{
        min-height: 33px;
      }
      .remove_fields{
        position: absolute;
        right: 15px;
        top: 0;
        min-height: 33px;
        font-size: 19px;
        border-radius: 0;
        line-height: 18px;
      }
    }
}
.list-cases-holder{
  .panel.panel-default{
    .panel-body{
      padding: 10px;
      .cases-details{
        p{
          margin-bottom: 5px;
        }
      }
      .btn-area{
        .btn{
          width: 100%;
          margin-bottom: 5px;
          border-radius: 2px;
        }
      }
    }
  }
}

.amount-holder-desktop{
  display: block;
}
 .amount-holder-mobile{
    display: none;
  }
  .breadcrumb {
    padding: 5px;
    margin-bottom: 20px;
    list-style: none;
    background-color: transparent;
    border-bottom: 1px solid #eee;
}

  .allocated-funds-holder{
    padding-left: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  #logs-body-content{
    .donat-list{
      background-color: #fff;
      padding: 5px;
      border-radius: 2px;
      margin-bottom: 10px;
      &:nth-child(even){
        background-color:#e8e8e8;
      }
      a{
        color: #2DBCB5;
      }
    }
  }
@media all and (max-width: 767px) {
  .amount-holder-desktop{
    display: none !important;
  }
  .amount-holder-mobile{
    display: block;
  }
  .list-cases-holder{
    padding: 0;
  }

}
